{{define "content"}}
<div class="container">
    <h1 class="title">All Articles</h1>

    {{range .Articles}}
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{.Title}}</strong>
                        {{if .Author}}<small>by {{.Author}}</small>{{end}}
                        <small>{{.PublishedAt.Format "Jan 02, 2006"}}</small>
                        {{if .FeedTitle}}<small class="ml-2">from {{.FeedTitle}}</small>{{end}}
                        {{if .ShouldShowDescription}}
                        <br>
                        {{.TruncatedDescription | safeHTML}}
                        {{end}}
                    </p>
                </div>
                <div class="buttons is-flex is-flex-wrap-nowrap">
                    <a href="{{.URL}}" target="_blank">
                        <span class="button is-small is-link">Read More</span>
                    </a>
                    {{if .HasViewableContent}}
                    <a>
                        <span class="button is-small is-info" 
                              hx-get="/articles/{{.ID}}/content"
                              hx-target="#modal-container"
                              hx-trigger="click"
                              onclick="showModalContainer()">View</span>
                    </a>
                    <a href="/article/{{.ID}}" target="_blank">
                        <span class="button is-small is-info">Direct Link</span>
                    </a>
                    {{end}}
                </div>
            </div>
        </article>
    </div>
    {{end}}

    <!-- Add a container for the modal -->
    <div id="modal-container"></div>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous {{if eq .CurrentPage 1}}is-disabled{{end}}" 
           {{if gt .CurrentPage 1}}
           hx-get="/articles?page={{subtract .CurrentPage 1}}" 
           hx-target="#content-area"
           hx-push-url="true"
           onclick="delayedSmoothScroll('#content-area')" 
           {{end}}>
            Previous
        </a>
        <a class="pagination-next {{if eq .CurrentPage .TotalPages}}is-disabled{{end}}" 
           {{if lt .CurrentPage .TotalPages}} 
           hx-get="/articles?page={{add .CurrentPage 1}}" 
           hx-target="#content-area"
           hx-push-url="true"
           onclick="delayedSmoothScroll('#content-area')" 
           {{end}}>
            Next
        </a>
        <ul class="pagination-list">
            {{range .Pages}}
            <li>
                <a class="pagination-link {{if eq . $.CurrentPage}}is-current{{end}}" 
                   hx-get="/articles?page={{.}}"
                   hx-target="#content-area" 
                   hx-push-url="true"
                   onclick="delayedSmoothScroll('#content-area')">{{.}}</a>
            </li>
            {{end}}
        </ul>
    </nav>
</div>

<script>
    function openModal(modalId) {
        document.getElementById(modalId).classList.add('is-active');
        document.documentElement.classList.add('is-clipped');
    }

    function closeModal(modalId) {
        document.getElementById(modalId).classList.remove('is-active');
        document.documentElement.classList.remove('is-clipped');
    }

    function showModalContainer() {
        document.documentElement.classList.add('is-clipped');
    }

    function closeModal() {
        document.documentElement.classList.remove('is-clipped');
        document.getElementById('modal-container').innerHTML = '';
    }
</script>
{{end}}